@import "tailwindcss";

@layer base {
  body {
    user-select: none;
    -webkit-user-select: none;
  }
}

@layer utilities {
  .select-text {
    user-select: text;
    -webkit-user-select: text;
  }
}
